/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* Change some fonts */
@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript-Regular.otf");
}

@font-face {
  font-family: "GoodDog";
  src: url("../fonts/GoodDog.otf");
}

.navbar {
  font-family: "KaushanScript";
  font-size: 1.3em;
}

.navbar-brand {
  font-size: 1.5em;
}

h1,h2,h3,h4,h5,h5 {
  font-family: "KaushanScript";
}

/* Main styles */

html,
body {
  font-family: cursive;
  height: 100%;
  font-size: 1em;
  background-color: #f5f5f5;
  color: #5a5a5a;
  /* The html and body elements cannot have any padding or margin. */
}

a, a:hover {
  text-decoration: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;
  background: #eee;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 20px;
}


/* Title */

.title {
  letter-spacing: 0.5em;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}

h1.panel-title {
  font-size: 1.4em;
}

/* Logo */
img.logo {
  margin-right: 10px;
  width: 300px;
}

.top {
  padding-top: 80px;
}

/* Manage display of categories */
div.Actualités li {
  display: none;
}

div.Actualités li.Actualités {
  display: block;
}

div.Anticuisiniers li {
  display: none;
}

div.Anticuisiniers li.Anticuisiniers {
  display: block;
}

div.Art li {
  display: none;
}

div.Art li.Art {
  display: block;
}

div.Blagues li {
  display: none;
}

div.Blagues li.Blagues {
  display: block;
}

div.Emissions li {
  display: none;
}

div.Emissions li.Emissions {
  display: block;
}

div.Ennemis li {
  display: none;
}

div.Ennemis li.Ennemis {
  display: block;
}

div.Films li {
  display: none;
}

div.Films li.Films {
  display: block;
}

div.Futur li {
  display: none;
}

div.Futur li.Futur {
  display: block;
}

div.Histoire li {
  display: none;
}

div.Histoire li.Histoire {
  display: block;
}

div.Jeux li {
  display: none;
}

div.Jeux li.Jeux {
  display: block;
}

div.Livres li {
  display: none;
}

div.Livres li.Livres {
  display: block;
}

div.Monde li {
  display: none;
}

div.Monde li.Monde {
  display: block;
}

div.Musique li {
  display: none;
}

div.Musique li.Musique {
  display: block;
}

div.Web li {
  display: none;
}

div.Web li.Web {
  display: block;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* Bigger title */
  .title {
    letter-spacing: 1em;
    font-size: 2em;
  }
}

